
<form (ngSubmit)="addUser2()">
    <h2>Agregar Organismo</h2>
  <input type="text" [(ngModel)]="newOrganismo.id_organismo" name="id_organismo" placeholder="ID" required />
  <input type="text" [(ngModel)]="newOrganismo.nombre_cientifico" name="nombre_cientifico" placeholder="Nombre cientifico" required>
  <input type="text" [(ngModel)]="newOrganismo.descripcion" name="descripcion" placeholder="Descripcion" required>
  <input type="text" [(ngModel)]="newOrganismo.categoria_taxonomica" name="categoria_taxonomica" placeholder="Categoria taxonomica" required>
  <input type="email" [(ngModel)]="newOrganismo.distribucion_geografica" name="distribucion_geografica" placeholder="Distribucion geografica" required>
  <input type="password" [(ngModel)]="newOrganismo.estado_conservacion" name="estado_conservacion" placeholder="Estado conservacion" required>
  <button type="submit">Agregar Organismo</button>
</form>
