
<div>
    <table>
        <thead>
            <tr>
                <th>ID Usuario</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Dirección</th>
                <th>Email</th>
                <th>Contraseña</th>
                <th>Acciones</th> 
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of arrayUser">
                <td>{{item.id_usuario}}</td>
                <td>{{item.nombre}}</td>
                <td>{{item.apellido}}</td>
                <td>{{item.direccion}}</td>
                <td>{{item.email}}</td>
                <td>{{item.contrasena}}</td>
                <td>
                    <button (click)="editUser(item.id_usuario)">Editar</button> <!-- Botón de editar -->
                    <button (click)="deleteUser(item.id_usuario)">Eliminar</button> <!-- Botón de eliminar -->
                </td>
            </tr>
        </tbody>
    </table>
</div>
