
<div>
    <table>
        <thead>
            <tr>
                <th>ID Organismo</th>
                <th>Nombre cientifico</th>
                <th>Descripcion</th>
                <th>Categoria Taxonomica</th>
                <th>Distribucion Geografica</th>
                <th>Estado de conservacion</th>
                <th>Imagen</th>
                <th>Acciones</th> 
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of arrayOrganismo">
                <td>{{item.id_organismo}}</td>
                <td>{{item.nombre_cientifico}}</td>
                <td>{{item.descripcion}}</td>
                <td>{{item.categoria_taxonomica}}</td>
                <td>{{item.distribucion_geografica}}</td>
                <td>{{item.estado_conservacion}}</td>
                <td><img src={{item.img}} alt=""></td>
                <td>
                    <button (click)="editUser2(item.id_organismo)">Editar</button> <!-- Botón de editar -->
                    <button (click)="deleteUser2(item.id_organismo)">Eliminar</button> <!-- Botón de eliminar -->
                </td>
            </tr>
        </tbody>
    </table>
</div>
