/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #f4f4f4; /* Fondo suave para resaltar los elementos */
}

/* Estilos para la tabla */
table {
    width: 90%;
    margin: 2rem auto;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
    background-color: #1c1c1c; /* Fondo negro */
}

table:hover {
    transform: scale(1.03); /* Efecto de aumento al pasar el ratón */
}

th, td {
    padding: 1.2rem;
    text-align: center;
    border-bottom: 1px solid #333; /* Borde oscuro para contraste */
}

th {
    background-color: #c70039; /* Rojo oscuro para el encabezado */
    color: #ffffff; 
    font-weight: 600;
    font-size: 1.1rem;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #222831; /* Gris oscuro para filas pares */
}

tr:hover {
    background-color: #1b1b2f; /* Azul oscuro suave al pasar el ratón */
    transition: background-color 0.3s;
}

td {
    color: #eeeeee; /* Color claro para visibilidad */
}

/* Estilos para el formulario */
form {
    margin: 2rem auto;
    max-width: 450px;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    background-color: #1c1c1c; /* Fondo negro */
    color: #ffffff;
}

input, button, select {
    width: 100%;
    padding: 0.8rem;
    margin: 0.6rem 0;
    border: 1px solid #333;
    border-radius: 6px;
    font-size: 1rem;
    transition: all 0.3s ease;
    background-color: #222831; /* Fondo gris oscuro */
    color: #ffffff;
}

input:focus, select:focus {
    border-color: #c70039; /* Rojo oscuro al enfocar */
    outline: none;
}

button {
    background-color: #c70039; /* Botón rojo oscuro */
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.8rem;
    font-size: 1.1rem;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff5733; /* Rojo más claro al pasar el ratón */
}

/* Media Queries para adaptabilidad */
@media (max-width: 600px) {
    table {
        font-size: 14px;
    }

    form {
        padding: 1rem;
    }

    input, button, select {
        font-size: 0.9rem;
        padding: 0.6rem;
    }
}

/* Estilos para la imagen */
img {
    width: 160px;
    height: auto;
    border-radius: 4px;
    transition: transform 0.3s ease;
    border: 2px solid #c70039; /* Borde rojo para destacar */
}

img:hover {
    transform: scale(1.1);
}

/* Estilos para el contenedor */
div.centered-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    padding: 2rem;
    background-color: #1b1b2f; /* Fondo azul oscuro */
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    color: #ffffff;
}
