
<form (ngSubmit)="onUpdate2()" #organismoForm="ngForm">
    <div>
      <label for="id_organismo">ID Organismo</label>
      <input type="text" id="id_organismo" [(ngModel)]="organismo.id_organismo" name="id_organismo" required />
    </div>
    <div>
      <label for="nombre_cientifico">Nombre cientifico</label>
      <input type="text" id="nombre_cientifico" [(ngModel)]="organismo.nombre_cientifico" name="nombre_cientifico" required />
    </div>
    <div>
      <label for="descripcion">Descripcion</label>
      <input type="text" id="descripcion" [(ngModel)]="organismo.descripcion" name="descripcion" required />
    </div>
    <div>
      <label for="categoria_taxonomica">Categoria taxonomica</label>
      <input type="text" id="categoria_taxonomica" [(ngModel)]="organismo.categoria_taxonomica" name="categoria_taxonomica" required />
    </div>
    <div>
      <label for="distribucion_geografica">Distribucion geografica</label>
      <input type="text" id="distribucion_geografica" [(ngModel)]="organismo.distribucion_geografica" name="distribucion_geografica" required />
    </div>
    <div>
      <label for="estado_conservacion">Estado de conservacion</label>
      <input type="text" id="estado_conservacion" [(ngModel)]="organismo.estado_conservacion" name="estado_conservacion" required />
    </div>
    <div>
        <label for="img">URL de imagen</label>
        <input type="text" id="img" [(ngModel)]="organismo.img" name="img" required />
      </div>
    <button type="submit">Actualizar organismo</button>
  </form>
  